@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


@utility container {
  padding-inline: 2rem;
  margin-inline: auto;
  max-width: 1920px;

  @media (max-width: 768px) {
    padding-inline: 1rem;
  }
}

@theme {
  --font-mono: "Space Mono", monospace;
  --font-work: "Work Sans", sans-serif;
  --color-primary: #A259FF;
  --color-secondary: #2B2B2B;
}

body {
  @apply font-work;
}